doctype html
html.no-js(lang='ru-RU')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='css/geometria.css', type='text/css', media='all')
    title Тест1
  body
    p Что получается
      .cherta
.home-offer-separator--top
section.bg-offer
  .bg-image--home-offer
  .row.margin-big
    .column.text-center
      h2.offer Продите диспансеризацию
      p Проверка вашего здоровья в поликлинике 77
      a.button.button-with-icon--right.bg-third.margin-l(href='#') Проверить состояние здоровья
       i.fa.fa-check.fa-fw
.home-offer-separator--bottom
