section.bg-grey
  // блок услуг
  .row.column
    // заголовок блока
    h2 Избранные услуги
    p Выберите услугу
  .row
    // контейнер на две колонки
    .column.medium-12.large-8
      // колонка трех услуг с подписью внизу
      .row
        // три услуги и подпись
        .padding.column.small-6.medium-4.text-center
          .padding.border-accent-light
            i.fa.fa-ambulance.fa-4x.font-complimentary-dark
            br
            strong.uppercase.animated.fadeInDown Неотложная помощь
            p Отделения неотложной медицинской помощи для детей.
        .padding.column.small-6.medium-4.text-center
          .padding.border-accent-light
            i.fa.fa-heartbeat.fa-4x.font-complimentary-dark
            br
            strong.uppercase Кардиология
            p Лечение и диагностика, аускультативное выслушивание шумов
        .padding.column.small-12.medium-4.text-center.margin
          .padding.border-accent-light
            i.fa.fa-stethoscope.fa-4x.font-complimentary-dark
            br
            strong.uppercase Консультация ЛОР-врача
            p Лечение заболеваний уха, горла и носа
        .column.small-12
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          a.button.button-with-icon--left.margin-top-l(href='#')
            i.fa.fa-search.fa-fw
            |  Посмотреть все отделения
    .column.large-4.small-12
      // правая колонка с боковым текстом
      h3 Платные и бесплатные услуги
      p Поликлиника оказывает как услуги по договрам обязательного медицинского страхования (ОМС), так и на платной основе.
      h3 Неотложная помощь
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    // правая колонка
  // row
