.home-offer-separator--top
section.bg-offer
  .bg-image--home-offer
  .row.margin-big
    .column.text-center
      h2.offer Пройдите диспансеризацию
      p Проверка вашего здоровья в поликлинике 77
      a.button.button-with-icon--right.bg-third.margin-l(href='#') Проверить состояние здоровья
        i.fa.fa-check.fa-fw
.home-offer-separator--bottom
